# Downloaded dataset images and large files
data/raw/
data/processed/
data/spot_check/
data/standardized_images/

# Train and test results
models/classification/best_efficientnetb0.pt
models/classification/best_resnet34.pt
models/classification/efficientnetb0_test_results.txt
models/classification/resnet34_test_results.txt

# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
wandb/
.DS_Store
data/
