# Downloaded dataset images and large files
data/raw/
data/processed/
data/spot_check/
data/standardized_images/


# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
wandb/
.DS_Store
data/
